<!-- Gobuffalo -->

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                Reproducibility
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>You just need a few commands to create the program.</li>
                    <li>As you code the program rebuilds.</li>
                    <li>Creating the model,database tables, and frontend are in one command</li>
                </ul>
                <br>
                Resource Generation
                <br>

                <iframe src="https://player.vimeo.com/video/212302823" width="640" height="360" frameborder="0"
                    allow="autoplay; fullscreen" allowfullscreen></iframe>
                <p><a href="https://vimeo.com/212302823">Buffalo v0.8.1 - Resource Generation</a> from <a
                        href="https://vimeo.com/markbates">Mark Bates</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                It takes care of a lot of security
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                    <li>It takes care of multisite attacking when using plush syntax</li>
                    <li>It also does a lot of validation and sanitization for you.</li>

                </ul>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                It also auto updates your backend and frontend.
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                It will update both as you type.
            </div>
        </div>
    </div>
</div>
<div style="height:22em; width:100%;">&nbsp;&nbsp; </div>