<div class="py-4 mb-2">
  <h3 class="d-inline-block">Edit Feedmessage</h3>
</div>

<%= formFor(feedmessage, {action: feedmessagePath({ feedmessage_id: feedmessage.ID }), method: "PUT"}) { %>
  <%= partial("feedmessages/form.html") %>
  <%= linkTo(feedmessagePath({ feedmessage_id: feedmessage.ID }), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
