<div class="py-4 mb-2">
  <h3 class="d-inline-block">Feedmessages</h3>
  <div class="float-right">
    <%= linkTo(newFeedmessagesPath(), {class: "btn btn-primary"}) { %>
      Create New Feedmessage
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Name</th>
    <th>Message</th>
  </thead>
  <tbody>
    <%= for (feedmessage) in feedmessages { %>
      <tr>
        <td class="align-middle"><%= feedmessage.Name %></td>
        <td class="align-middle"><%= feedmessage.Message %></td>
        <td>
          <div class="float-right">
            <%= linkTo(feedmessagePath({ feedmessage_id: feedmessage.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editFeedmessagePath({ feedmessage_id: feedmessage.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(feedmessagePath({ feedmessage_id: feedmessage.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
