<div class="py-4 mb-2">
  <h3 class="d-inline-block">New Feedmessage</h3>
</div>

<%= formFor(feedmessage, {action: feedmessagesPath(), method: "POST"}) { %>
  <%= partial("feedmessages/form.html") %>
  <%= linkTo(feedmessagesPath(), {class: "btn btn-warning", "data-confirm": "Are you sure?", body: "Cancel"}) %>
<% } %>
