<div class="py-4 mb-2">
  <h3 class="d-inline-block">Feedmessage Details</h3>

  <div class="float-right">
    <%= linkTo(feedmessagesPath(), {class: "btn btn-info"}) { %>
      Back to all Feedmessages
    <% } %>
    <%= linkTo(editFeedmessagePath({ feedmessage_id: feedmessage.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(feedmessagePath({ feedmessage_id: feedmessage.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">


  <li class="list-group-item pb-1">
    <label class="small d-block">Name</label>
    <p class="d-inline-block"><%= feedmessage.Name %></p>
  </li>



  <li class="list-group-item pb-1">
    <label class="small d-block">Message</label>
    <p class="d-inline-block"><%= feedmessage.Message %></p>
  </li>


</ul>
