

<div class="container">

    
</div>
<div class="row">
    <div class="col s12 l2 ">
      <div class="card" style="width: 100%;">
       
        <img src="<%= assetPath("images/me2.jpg") %>" style="    width: 70%;margin-left: 14%;border-radius: 15px;box-shadow: #0000006e 1px 1px 1px 1px;"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Zachary Endrulat</h5>
          <p class="card-text">Web Developer and lover of Abraham Lincoln books.</p>
          <a href="https://gitlab.com/zendrulat123/fiber" target="_blank"
            class="btn btn-primary rounded-pill bg-dark"><i class="fab fa-github"></i></a>
          <a href="https://docs.google.com/document/d/1Zb9GCWPKeEJ4Dyn2TkT-O3wJ8AFc-IMxZzTugNCjr-8/edit?usp=sharing"
            class="btn btn-primary rounded-pill bg-dark" target="_blank">
            <i class="fas fa-book"></i>
          </a>
          <a href="https://youtu.be/-KOOoDkODE4" target="_blank" class="btn btn-primary rounded-pill bg-dark">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
        <a style="font-size: 2em;text-align: center;" href="/users/new">Fill out this form to get Newsletter</a>
      </div>
    </div>

  </div>
  <div style="height:22em; width:100%;">&nbsp;&nbsp; </div>