<style>
    .profilebg {
      background-image: url("../assets/images/back.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media only screen and (max-width: 1000px) {
      .recipe {
        width: 100% !important;
      }
    }

    @media only screen and (max-width: 600px) {

      .profilebg {
        background-size: cover;

      }

      .recipe {
        width: 100% !important;
      }
    }
  </style>
        <div class="row recipe">
            <div class="col">
              <div class="card">
                <div class="card-image">
                   
                  <img src="<%= assetPath("images/pi.jpg") %>">
  
                  <span class="card-title">Pizza</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                  <p>
  
                  <ul class="collapsible">
                    <li>
                      <div class="collapsible-header"><i class="material-icons">list</i>Ingredients</div>
                      <div class="collapsible-body"><span>
                          <ul>
                            <li>1. Caputo Italian Superfine "00" Farina Flour, 2.2 lbs</li>
                            <li>2. fresh mozzarella</li>
                            <li>3. tomato sauce</li>
                            <li>4. yeast</li>
                            <li>5. Oil</li>
                            <li>6. Stand Mixer</li>
                            <li>7. Cup of water</li>
                            <li>8. Pizza steel</li>
                          </ul>
                        </span></div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">list</i>Mixing flour</div>
                      <div class="collapsible-body"><span>
                          <ul>
                            <li>1. Mix the yeast and water in the mixer</li>
                            <li>2. Mix slowly the flour in the mixer bowl as well.</li>
                            <li>3. Make sure you don't dry the dough and it does not form a ball.</li>
                            <li>4. Do not let it raise. Use the mix and carefully faltten it with your fingers.</li>
                            <li></li>
                          </ul>
                        </span></div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">list</i>Cooking the Pizza</div>
                      <div class="collapsible-body"><span>
                          <ul>
                            <li>1. Bake in the oven for 500 degress for 5-7 minutes before adding toppings.</li>
                            <li>2. Take the pizza out and add the sauce and not the cheese yet and put back in for 5-7
                              minutes.</li>
                            <li>3. Put the toppings on and add the cheese and make sure the cheese does not burn.</li>
                          </ul>
                        </span></div>
                    </li>
                  </ul>
  
                  </p>
                </div>
              </div>
            </div>
          </div>

          <script>
            document.addEventListener('DOMContentLoaded', function () {
              var elems = document.querySelectorAll('.collapsible');
              var instances = M.Collapsible.init(elems, options);
            });
        
            // Or with jQuery
        
            $(document).ready(function () {
              $('.collapsible').collapsible();
            });
          </script>

<div style="height:22em; width:100%;">&nbsp;&nbsp; </div>