<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Buffalo - Site</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="<%= authenticity_token %>" />
  <link rel="icon" href="<%= assetPath(" images/favicon.ico") %>">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- <%= stylesheetTag("assets/css/application.scss") %> -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <style>
    .nav-wrapper {
      background: #f118ff82 !important;
    }

    .nav {
      display: block !important;
    }

    .nav-link {
      padding: .1em 2em;
    }

    nav .brand-logo {
      left: 13%;
      width: 6%;
    }

    nav .brand-logo img {
      width: 100%;
    }

    .nav-tabs .nav-link {
      color: black;
    }

    @media only screen and (max-width: 992px) {
      nav .brand-logo {
        width: 8%;
      }

      nav .brand-logo img {
        width: 100% !important;
      }
    }

    @media only screen and (max-width: 600px) {
      .nav-item {
        width: 20%
      }

      .nav-item a {
        color: black;
        font-size: 76%;

        height: 6em;
      }
    }
  </style>

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img style="width: 100%;" src="assets/images/Go_gopher_frontpage.png" alt=""></a>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul class="nav nav-tabs right hide-on-med-and-down " id="myTab" role="tablist">
        <!-- Blog -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Thoughts
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <!-- me -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            ME
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/r/mr/">Recipes</a></li>
            <li><a class="dropdown-item" href="/c/mc/">Contact</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/a/ma/">Books</a></li>
          </ul>
        </li>
           <!-- Computers -->
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Computers
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/g/mg/">Go</a></li>
              <li><a class="dropdown-item" href="/gb/mgb">Gobuffalo</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/linux/showlinux/">Linux</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </nav>


  <link rel="icon" href="<%= assetPath(" images/favicon.ico") %>">
  <div class="container">

    <%= yield %>
  </div>

    <footer class="page-footer">

      <div class="footer-copyright">
        <div class="container">


          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">


              <ul class="nav">
                <li class="nav-item">
                  <a class="black-text text-lighten-3" target="_blank"
                    href="https://getbootstrap.com/docs/5.0/components/alerts/">Bootstrap</a>
                </li>
                <li class="nav-item">
                  <a class="black-text text-lighten-3" target="_blank"
                    href="https://materializecss.com/sidenav.html#!">materializecss</a>
                </li>
                <li class="nav-item">
                  <a class="black-text text-lighten-3" target="_blank" href="https://www.canva.com/design/">Canva</a>
                </li>
                <li class="nav-item">
                  <a class="black-text text-lighten-3" target="_blank" href="https://gobuffalo.io/en/">Gobuffalo</a>
                </li>
                <li class="nav-item">
                  <a class="black-text text-lighten-3" target="_blank"
                    href="https://docs.google.com/document/d/1jDNfpHu7c01niKvYN3pQSxtYJNlNpS6JJ1W4py1tI70/edit?usp=sharing">Google
                    doc</a>
                </li>

              </ul>
            </div>

          </nav>

          <a class="grey-text text-lighten-4 right" target="_blank"
            href="https://docs.google.com/document/d/1k-F2cyDBPOU_9qbr6sM0YJROOdVCx-2yLk4h9BRoW4Q/edit?usp=sharing">Abraham
            Lincoln Links</a>
        </div>
      </div>
    </footer>
    <style>
      .page-footer {
        background: #ee6e6e;
        position: fixed;
        width: 100%;
        bottom: 0;
      }
    </style>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"></script>


<!-- 
    <script type="text/javascript">
      //https://stackoverflow.com/questions/40742538/clearing-webpack-cache
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.onload = function () {
        //init();
        $(document).ready(function () {
          $('.sidenav').sidenav();
          $(".dropdown-trigger").dropdown();
        });
        document.addEventListener('DOMContentLoaded', function () {
          var elems = document.querySelectorAll('.sidenav');
          // var instances = M.Sidenav.init(elems, options);
        });

        // call other scripts when this file is fully loaded
      };
      script.src = '/public/assets/bundle.js?v=' + Date.now();
      document.getElementsByTagName('body')[0].appendChild(script);//this is how you control where svelte app goes.
    </script> -->
    <%= javascriptTag("application.js") %>
</body>

</html>

<%= partial("flash.html") %>