<style>
    .bg {
       
        color: rgb(11, 121, 129);
        padding: 2%;
    }
</style>

<div class="bg">
    <p>Linux to me is about customizing my tools.
 It all starts from the Terminal.</p>
    <p>Why is a terminal so important?</p>
    <p>It is the interface with commands/programs. It can even be used to code.
        You gain control of your system through a terminal.
    </p>

    <p>A way to make the terminal fun is to change the way the termainl works and how it
        looks. I go over most of the things you need in the video.
    </p>
    <iframe style="width:100%;height:900px;" src="https://www.youtube.com/embed/-KOOoDkODE4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>