<!-- go -->
<div class="alert alert-primary" role="alert">
    I would like to start off with my inspirations of Go.
</div>
<div class="container">
    <div style="width:100%;" class="row row-cols-2">
        <div class="col">
            <div class="row">

                <div class="card">
                    <div class="card-image">
                        <iframe style="width: 100%;" height="315" src="https://www.youtube.com/embed/rFejpH_tAHM"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    </div>
                    <div class="card-content">
                        <p style="text-align:center;">Simplicity is what the language can do for you in the future.</p>
                    </div>

                </div>

            </div>
        </div>
        <div class="col">
            <div class="row">

                <div class="card">
                    <div class="card-image">
                        <iframe style="width:100%;" height="315" src="https://www.youtube.com/embed/oV9rvDllKEg"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="card-content">
                        <p>Parallelism is a hard concept that needs to be understood.</p>
                    </div>

                </div>


            </div>

        </div>
        <div class="alert alert-dark" role="alert" style="width:100%;">
            <a target="_blank" href="https://go.dev/solutions#case-studies">Case Studies</a>
        </div>
        <div class="alert alert-success" role="alert" style="width:100%;">
            The creators of Go. <br>
        </div>
        <div class="row" style="width:100%;">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                        href="#list-home" role="tab" aria-controls="home">Rob Pike</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                        href="#list-profile" role="tab" aria-controls="profile">Ken Thompson</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                        href="#list-messages" role="tab" aria-controls="messages">Robert Griesemer</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                        aria-labelledby="list-home-list"><iframe style="width:100%;" height="315"
                            src="https://www.youtube.com/embed/_2NI6t2r_Hs" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe></div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <iframe style="width:100%;" height="315" src="https://www.youtube.com/embed/JoVQTPbD6UY"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <iframe style="width:100%;" height="315" src="https://www.youtube.com/embed/vLxX3yZmw5Q"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="collection with-header">
    <li class="collection-header">
        <h4>Resources for Learning Go</h4>
    </li>
    <li class="collection-item">
        <div>Google's site<a href="https://learn.go.dev/" target="_blank" class="secondary-content"><i
                    class="material-icons">send</i></a></div>
    </li>
    <li class="collection-item">
        <div>Go by example<a href="https://gobyexample.com/" target="_blank" class="secondary-content"><i
                    class="material-icons">send</i></a></div>
    </li>
    <li class="collection-item">
        <div>My Google Doc<a
                href="https://docs.google.com/document/d/1Zb9GCWPKeEJ4Dyn2TkT-O3wJ8AFc-IMxZzTugNCjr-8/edit#"
                class="secondary-content" target="_blank"><i class="material-icons">send</i></a></div>
    </li>
</ul>


<div style="height:22em; width:100%;">&nbsp;&nbsp; </div>