<div class="py-4 mb-2">
  <h3 class="d-inline-block">Users</h3>
  <div class="float-right">
    <%= linkTo(newUsersPath(), {class: "btn btn-primary"}) { %>
      Create New User
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Name</th><th>Email</th><th>Password</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (user) in users { %>
      <tr>
        <td class="align-middle"><%= user.Name %></td><td class="align-middle"><%= user.Email %></td><td class="align-middle"><%= user.Password %></td>
        <td>
          <div class="float-right">
            <%= linkTo(userPath({ user_id: user.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editUserPath({ user_id: user.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(userPath({ user_id: user.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
